<div class="alert alert-success" >
    <h2>@ViewBag.UserName عزیز</h2>
    <p>جهت ورود به حساب کاربری خود لینک زیر را دنبال کنید</p>
    <p>
        <a href="/Login"> حساب کاربری</a>
    </p>
</div>

