@model DataLayer.Users
@{
    ViewBag.Title = "ثبت نام";
}
<div class="alet alert-success">
    <h2>@Model.UserName عزیز، با تشکر از ثبت نام شما در سایت</h2>
    <p>ایمیا حاوی لینک فعال سازی به حساب کاربری @Model.Email شما ارسال شد، جهت فعال سازی وارد ایمیل خو شوید.</p>
</div>


