@model DataLayer.Users
<div class="alert alert-success">
    <p>
        @Model.UserName عزیز 
    </p>
    <p>
        ایمیلی حاوی لینک تغییر گذرواژه به ایمیل شما ارسال شده است؛ جهت تغییر گذرواژه ایمیل فعال سازی را مشاهده نمایید
    </p>
</div>
