
@{
    ViewBag.Title = "اطلاعات گروه ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ثبت اطلاعات</h2>
<p>
    <a class="btn btn-success" onclick="Create()">
        افزودن سرگروه جدید
    </a>
</p>
<div class="list-group" id="ProductList">
    @Html.Action("ProductList")
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
                    <button type="button" class="btn btn-primary">ثبت </button>
                </div>*@
        </div>
    </div>
</div>

<script>
    function Create(Parentid) {
        $.get("/Admin/Product_Groups/Create?id=" + Parentid,
            function (result) {
                $("#myModal").modal();
                $('#myModalLabel').html('افزودن گروه جدید');
                $('#myModalBody').html(result);
            }
        );

    }

    function Edit(id) {
        $.get("/Admin/Product_Groups/Edit?id=" + id,
            function (result) {
                $("#myModal").modal('show');
                $("#myModalLabel").html("ویرایش گروه");
                $("#myModalBody").html(result);
            }

            //$("#myModal").modal('show');
        );
    }

    function Delete(id) {
        //$.confirm({
        //    icon: 'fa fa-spinner fa-spin',
        //    title: 'Working!',
        //    content: 'Sit back, we are processing your request!'
        //});
        $.alert({
            title: 'پیغام',
            content: 'آیا از حذف مطمئن هستید؟',
            rtl: true,
            closeIcon: true,
            buttons: {
                confirm: {
                    text: 'تایید',
                    btnClass: 'btn btn-danger btn-xs',
                    action: function () {
                        $.get("/Admin/Product_Groups/Delete?id=" + id,
                            function () { $('#group_' + id).hide('slow')})
                            
                        //$.alert('تایید شد.');
                    }
                },
                cancel: {
                    text: 'انصراف',
                    btnClass: 'btn btn-primary btn-xs',
                    action: function () {
                        success()
                    }
                }
            }
        });

    }

    function success() {
        $("#myModal").modal('hide');
    }
</script>